@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: hsl(190, 50%, 50%);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  text-align: center;
}
.get-random {
  background-color: hsl(200, 30%, 40%);
  color: white;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.get-random:focus {
  outline: none;
}

.get-random:active {
  transform: scale(0.98);
}

.random-cat {
  display: flex;
}

.random-cat img {
  max-width: 500px;
}
